@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
    .box-shadow {
        box-shadow: theme('boxShadow.xl');
    }
  }

#ukraineTop {
  background-color: rgb(61, 61, 231);
  padding: 20px;
  color: white;
}

#ukraineTop h1 {
  font-size: 48px;
  font-weight:400;
}

#ukraineBottom {
  background-color: yellow;
  padding: 44px 20px;
}

#ukraineBottom a {
  margin-left: 30px;
  color: blue;
  text-decoration: underline;
}
